---
import "./main.scss";
---

<!DOCTYPE html>
<html lang="en-US" data-theme="light">
	<head>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-7MQW0RX33C");
		</script>
		<script type="text/javascript">
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = "https://www.clarity.ms/tag/" + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "en1o6pgghu");
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<meta
			name="description"
			content="Oloren ChemEngine is an open-source python library combining best-in-class moelcular
		property predictors and model architecures in a unified framework."
		/>
		<title>Oloren ChemEngine</title>

		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-7MQW0RX33C"
		></script>

		<link rel="icon" type="image/svg" href="/assets/favicon.svg" />
	</head>
	<body class="bg-white text-primary">
		<div class="flex w-screen flex-col bg-white text-primary">
			<section
				id="mobile-navbar"
				class="flex h-fit w-full flex-row justify-between px-4 pt-4 lg:hidden"
			>
				<a class="h-6 w-fit" href="/">
					<img
						src="/assets/logo.svg"
						class="h-full w-fit"
						id="logo"
					/>
				</a>
				<div class="flex h-full flex-col items-end">
					<input
						class="burger-check"
						id="burger-check"
						type="checkbox"
					/><label for="burger-check" class="burger"></label>
					<nav
						id="navigation1"
						class="float navigation flex flex-col items-end px-1"
					>
						<a href="/installation">Installation</a>
						<a href="https://docs.oloren.ai">Documentation</a>
						<a href="/examples">Examples</a>
					</nav>
				</div>
			</section>
			<section
				id="navbar"
				class="mx-auto mt-6 hidden h-24 w-3/4 max-w-7xl items-center justify-between md:max-w-7xl lg:flex"
			>
				<a class="h-1/4 w-fit" href="/">
					<img
						src="/assets/logo.svg"
						class="h-full w-fit"
						id="logo"
					/>
				</a>
				<ul
					id="links"
					class="font-lg flex flex-row items-center space-x-10 text-secondary"
				>
					<a href="/installation">Installation</a>
					<a href="https://docs.oloren.ai">Documentation</a>
					<a href="/examples">Examples</a>
				</ul>
			</section>

			<slot />

			<section
				id="footer"
				class="h-fit w-full bg-[#F6F9FE] py-16 lg:py-24"
			>
				<div
					class="m-auto flex flex-col items-center justify-between space-y-8 md:w-3/4 md:max-w-7xl md:flex-row md:space-y-0"
				>
					<div>
						<img src="/assets/logo.svg" class="h-5 w-auto" />
					</div>

					<div
						id="links"
						class="font-lg flex flex-col items-center md:items-start space-y-2 text-left text-secondary"
					>
						<a href="/getstarted">Get Started</a>
						<a href="https://github.com/Oloren-AI/olorenchemengine"
							>Github</a
						>
						<a href="https://twitter.com/OlorenChemEng">Twitter</a>
					</div>

					<div
						id="links"
						class="font-lg flex flex-col items-center md:items-start space-y-2 text-left text-secondary"
					>
						<a href="/installation">Installation</a>
						<a href="https://docs.oloren.ai">Documentation</a>
						<a href="/examples">Examples</a>
					</div>

					<a
						class="olorengradient h-fit w-fit rounded-xl p-px"
						href="mailto:contact@oloren.ai"
					>
						<div
							class="outline-button rounded-[11px] bg-[#F6F9FE] px-8 py-3"
						>
							Contact Us
						</div>
					</a>
				</div>
			</section>
		</div>
	</body>
</html>
